@model C__project.Models.ShiftDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<a href="/Shift/List">Go back to list</a>
<br />
<a href="/Shift/Edit/@Model.SelectedShift.ShiftID">Update</a>
<br />
<a style="color:#ab2020;" href="/Shift/DeleteConfirm/@Model.SelectedShift.ShiftID">Delete</a>
<h2>@Model.SelectedShift.KeeperFirstName @Model.SelectedKeeper.KeeperLastName</h2>
