﻿@model IEnumerable<C__project.Models.ShiftDto>
@{
    ViewBag.Title = "List";
}

<h2>List Shift</h2>

@foreach (C__project.Models.ShiftDto Shift in Model)
{
    <div>
        <h2>Day: @Shift.Day</h2>
        <div>Date: @Shift.Date</div>
        <div>Starttime: @Shift.StartTime</div>
        <div>Endtime: @Shift.EndTime</div>
    </div>
}
