﻿@model IEnumerable<C__project.Models.StaffDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Staff/Add">New Staff</a>
@foreach (C__project.Models.StaffDto Staff in Model)
{
    <div>
        <h2><a href="/Staff/Details/@Staff.StaffID">Staff Name: @Staff.StaffName</a></h2>
       
        <div>PositionName: @Staff.PositionName</div>

    </div>
 }
