﻿@model IEnumerable<C__project.Models.StaffDto>
@{
    ViewBag.Title = "List";
}
<h2>List</h2>
<a class="btn add" href="/Staff/Add">New Staff</a>
<table>
    <thead>
        <tr>
            <th>Staff Name</th>
            <th>Position Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (C__project.Models.StaffDto Staff in Model)
        {
            <tr>
                <td>@Staff.StaffName</td>
                <td>@Staff.PositionName</td>
                <td><a class="btn view" href="/Staff/Details/@Staff.StaffID">View</a></td>
            </tr>
        }
    </tbody>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #A3B18A;
    }

    .btn {
        border: none;
        color: white;
        padding: 6px 9px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .add {
        background-color: #344E41;
    }

    .view {
        background-color: #3A5A40;
    }
</style>